body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    top: 0;
}

.headerStyle {
    color: rgb(175, 238, 238);
}

.body{
    margin-top: 100px;
    z-index: -1;
}

.pokemon-card{
    cursor: pointer;
    transition: transform .2s; /* Animation */
}

.pokemon-card:hover{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 1001;
}